.container {
  margin-top: 30px;
  width: 400px;
  height: 10px;
}

.button-container {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 200;
}
.button-toggle {
  padding: 0.5rem;
}

.the-default {
  background-color: #fafafa;
  padding: 2rem;
  height: 100%;
}

.the-default > small {
  font-size: 11px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 700px) {
  .oye > div {
    position: static;
    width: 400px;
    transform: none !important;
  }
}
